<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mt-4" ></div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div class="card mt-4">
            <div class="container">
                <h3>Add user</h3>
                <form action="/users" method="post" name="adduser" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" required>
        
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" required>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" name="age" class="form-control" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark mb-4">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-4"></div>
</div>

<script>
    function validateForm() {
        var x = document.forms["adduser"]["phone"].value;
        var y = document.forms["adduser"]["age"].value;
        if (isNaN(x) || isNaN(y)) {
            alert("Phone or Age must be number");
            return false;
        }
    }
</script>