<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mt-4"></div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <div class="card mt-4">
            <div class="container">
                <h3>Add Image</h3>
                <form action="/images/{{userid}}" method="post" name="addimage">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" required>

                    </div>
                    <div class="form-group">
                        <label for="url">Url</label>
                        <input type="text" name="url" class="form-control" required>
                    </div>
                   
                    <button type="submit" class="btn btn-dark mb-4">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-4"></div>
</div>
